body {
    
    margin: 0;
    padding: 0;
    background-image: url(https://cdn.discordapp.com/attachments/688106889321644122/1018155512153526342/street_red_panda2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
}

@media screen and (max-width: 800px) {
        .Bild1 {
        
        margin: 0% 7% 0% 18%;
       
        color: #121212;
    font-size: 3em;
    position: absolute;
    
        
    }
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
      
     
      .waviy {
        position: relative;
        
      }
      .waviy span {
        position: relative;
        display: inline-block;
        font-size: 1rem;
        color: Black;
        text-transform: uppercase;
        text-shadow: 0 0 10px rgb(213, 10, 10), 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff, 0 0 160px #fff;
        animation: flip 4s infinite;
        animation-delay: calc(.2s * var(--i))
        
      }
      @keyframes flip {
        0%,80% {
          transform: rotateY(360deg) 
        }
      }
    p {
        transform: skew(40deg)rotate(-10deg)rotateX(50deg)translate3d(0, 0, 0);
        -webkit-perspective: 100px;
        perspective: 100px;
        
      }
      
      p::before {
        text-shadow: 0 2px 3px #e01e37, 
            -3px 3px 1px black, 
            -6px 5px 1px #a71e34, 
            -9px 7px 1px red,
            -12px 9px 1px Red,
            -15px 11px 1px red,
            -22px 15px 1px black;
      }
      
      p:before,
      p:after {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        content: attr(data-text)
      }
      
      p:after {
        color: #edc;
      }
    img{
        width: 100%; border: 1px solid black;
        height: 100%;
        object-fit: cover;
        object-position: center;  
        margin: 2% 1% 2% 1%;  
    }
    .Text1 {
        border: 3px solid black;
        font-size: 2rem;
        text-align: center;
        border-radius: 15px;
        position: absolute;
        color: white;
        background-color: rgba(0, 0, 0, 0.589);
        text-shadow: 5px 5px 5px darkred;
        margin : 10% 3% 0% 3%;
       
    }
    .Text2 {
        border: 3px solid black;
        font-size: 2rem;
        text-align: center;
        margin: 235% 58% 3% 15%;
        border-radius: 15px;
        padding: 10px 5px 10px 5px;
        position: absolute;
        color: white;
        background: #1a1a1a;
        text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
            
        
    }
    .Text3 {
        border: 3px solid black;
        font-size: 2rem;
        text-align:center;
        margin-left: 48%;
        margin-right: 15.5%;
        border-radius: 15px;
        position: absolute;
        margin-top:235%;
        padding: 10px 5px 10px 5px;
       
        color:white;
        background: #1a1a1a;
    text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
        
        
    }
    .Text4 {
        border: 3px solid black;
        font-size: 2em;
        text-align: center;
        margin: 0% 15% 3% 15%;
        border-radius: 15px;
        padding: 20px 10px 20px 10px;
        position: absolute;
        margin-top: 270%;
    
        color:white;
        background: #1a1a1a;
    text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
        
    }
    .Text5 {
        border: 3px solid black;
        font-size: 2em;
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
        border-radius: 15px;
        padding: 20px 10px 20px 10px;
        position: absolute;
        margin-top: 300%;
        background-color: transparent;
        background-color: rgba(0, 0, 0, 0.589);
        color: whitesmoke;
    }
    .Text5:hover {
        background-color: rgba(0, 0, 0, 0.289);;
        
    }
    .Text6 {
        border: 3px solid black;
        font-size: 2em;
        text-align: center;
        margin-left: 20%;
        margin-right: 20%;
        border-radius: 15px;
        padding: 20px 10px 20px 10px;
        position: absolute;
        margin-top: 400%;
        color:white;
        background: #1a1a1a;
    text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
        
        
    }
    .Text6:hover{
        background-color: rgba(0, 0, 0, 0.289);
    }
    .Text7 {
        border: 3px solid black;
        font-size: 2em;
        text-align: center;
        margin-left: 20%;
        margin-right: 20%;
        border-radius: 15px;
        padding: 20px 13px 20px 13px;
        position: absolute;
        margin-top: 440%;
        color:white;
        background: #1a1a1a;
    text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
        
        
    }
    .Text7:hover{
        background-color: rgba(0, 0, 0, 0.289);
    }
    
    .Text8 {
        border: 3px solid black;
        font-size: 2em;
        text-align: center;
        margin-left: 20%;
        margin-right: 20%;
        border-radius: 15px;
        padding: 20px 60px 20px 60px;
        position: absolute;
        margin-top: 470%;
        color:white;
        background: #1a1a1a;
    text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
        
    }
    .Text8:hover{
        background-color: rgba(0, 0, 0, 0.289);
    }
    .Text9 {
        border: 3px solid black;
        font-size: 2em;
        text-align: center;
        margin-left: 20%;
        margin-right: 20%;
        border-radius: 15px;
        padding: 20px 0 20px 0;
        position: absolute;
        margin-top: 510%;
        color:white;
        background: #1a1a1a;
    text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
        
    
    }
    .Text9:hover{
       
        background-color: rgba(0, 0, 0, 0.289);
      
    }
    footer {
       
        font-size: 1.5em;
      
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 1%;
        
        margin-top: 560%;	
       
       
    
    }
    h5 {text-align: center;
        border: 1.5px solid black;
        padding: 0 30% 0 30%;
    }
    a {
        text-decoration: none;
        color: white;
    }
    a:hover{
        color: white;
        text-decoration: underline;
    }

}
@media screen and (min-width: 800px) {
.Bild1 {
    
    margin: 2% 18% 0% 18%;
   
    color: #121212;

position: absolute;

    
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
 
  .waviy {
    position: relative;
  }
  .waviy span {
    position: relative;
    display: inline-block;
    font-size: 4rem;
    color: Black;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgb(213, 10, 10), 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff, 0 0 160px #fff;
    animation: flip 4s infinite;
    animation-delay: calc(.2s * var(--i))
    
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }
p {
    transform: skew(40deg)rotate(-10deg)rotateX(50deg)translate3d(0, 0, 0);
    -webkit-perspective: 100px;
    perspective: 100px;
    font-size: 5rem;
  }
  
  p::before {
    text-shadow: 0 2px 3px #e01e37, 
        -3px 3px 1px black, 
        -6px 5px 1px #a71e34, 
        -9px 7px 1px red,
        -12px 9px 1px Red,
        -15px 11px 1px red,
        -22px 15px 1px black;
  }
  
  p:before,
  p:after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    content: attr(data-text)
  }
  
  p:after {
    color: #edc;
  }
img{
    width: 80%; border: 1px solid black;
    height: 80%;
    object-fit: cover;
    object-position: center;  
    margin: 2% 10% 2% 10%;  
}
.Text1 {
    border: 3px solid black;
    font-size: 2rem;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 15px;
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.589);
    text-shadow: 5px 5px 5px darkred;
    
   
}
.Text2 {
    border: 3px solid black;
    font-size: 2rem;
    text-align: center;
    margin: 90% 55% 3% 10%;
    border-radius: 15px;
    padding: 20px 10px 20px 10px;
    position: absolute;
 
    color: white;
background: #1a1a1a;
text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
    
}
.Text3 {
    border: 3px solid black;
    font-size: 2rem;
    text-align: center;
    margin-left: 38%;
    margin-right: 38%;
    border-radius: 15px;
    position: absolute;
    margin-top:90%;
    padding: 20px 10px 20px 10px;
   
    color:white;
    background: #1a1a1a;
text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
    
    
}
.Text4 {
    border: 3px solid black;
    font-size: 2em;
    text-align: center;
    margin: 0% 10% 3% 65%;
    border-radius: 15px;
    padding: 20px 10px 20px 10px;
    position: absolute;
    margin-top: 90%;

    color:white;
    background: #1a1a1a;
text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
    
}
.Text5 {
    border: 3px solid black;
    font-size: 2em;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 15px;
    padding: 20px 10px 20px 10px;
    position: absolute;
    margin-top: 110%;
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.589);
    color: whitesmoke;
}
.Text5:hover {
    background-color: rgba(0, 0, 0, 0.289);;
    
}
.Text6 {
    border: 3px solid black;
    font-size: 2em;
    text-align: center;
    margin-left: 15%;
    margin-right: 50%;
    border-radius: 15px;
    padding: 20px 10px 20px 10px;
    position: absolute;
    margin-top: 150%;
    color:white;
    background: #1a1a1a;
text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
    
    
}
.Text6:hover{
    background-color: rgba(0, 0, 0, 0.289);
}
.Text7 {
    border: 3px solid black;
    font-size: 2em;
    text-align: center;
    margin-left: 35%;
    margin-right: 15%;
    margin-left:55%;
    border-radius: 15px;
    padding: 20px 10px 20px 10px;
    position: absolute;
    margin-top: 150%;
    color:white;
    background: #1a1a1a;
text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
    
    
}
.Text7:hover{
    background-color: rgba(0, 0, 0, 0.289);
}

.Text8 {
    border: 3px solid black;
    font-size: 2em;
    text-align: center;
    margin-left: 18%;
    margin-right: 50%;
    border-radius: 15px;
    padding: 20px 10px 20px 10px;
    position: absolute;
    margin-top: 165%;
    color:white;
    background: #1a1a1a;
text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
    
}
.Text8:hover{
    background-color: rgba(0, 0, 0, 0.289);
}
.Text9 {
    border: 3px solid black;
    font-size: 2em;
    text-align: center;
    margin-left: 55%;
    margin-right: 10%;
    border-radius: 15px;
    padding: 20px 0 20px 0;
    position: absolute;
    margin-top: 165%;
    color:white;
    background: #1a1a1a;
text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
    

}
.Text9:hover{
   
    background-color: rgba(0, 0, 0, 0.289);
  
}
footer {
   
    font-size: 1.5em;
  
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;
    
    margin-top: 190%;	
   
   

}
h5 {text-align: center;
    border: 1.5px solid black;
    padding: 0 30% 0 30%;
}
a {
    text-decoration: none;
    color: white;
}
a:hover{
    color: white;
    text-decoration: underline;
}
}
@media screen and (min-width: 1350px) {
    .Bild1 {
        
        margin: 0% 7% 0% 18%;
       
        color: #121212;
    font-size: 11em;
    position: absolute;
    
        
    }
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
      
     
      .waviy {
        position: relative;
      }
      .waviy span {
        position: relative;
        display: inline-block;
        font-size: 5rem;
        color: Black;
        text-transform: uppercase;
        text-shadow: 0 0 10px rgb(213, 10, 10), 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff, 0 0 160px #fff;
        animation: flip 4s infinite;
        animation-delay: calc(.2s * var(--i))
        
      }
      @keyframes flip {
        0%,80% {
          transform: rotateY(360deg) 
        }
      }
    p {
        transform: skew(40deg)rotate(-10deg)rotateX(50deg)translate3d(0, 0, 0);
        -webkit-perspective: 100px;
        perspective: 100px;
        
        font-size: 1em;
      }
      
      p::before {
        text-shadow: 0 2px 3px #e01e37, 
            -3px 3px 1px black, 
            -6px 5px 1px #a71e34, 
            -9px 7px 1px red,
            -12px 9px 1px Red,
            -15px 11px 1px red,
            -22px 15px 1px black;
      }
      
      p:before,
      p:after {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        content: attr(data-text)
      }
      
      p:after {
        color: #edc;
      }
    img{
        width: 80%; border: 1px solid black;
        height: 80%;
        object-fit: cover;
        object-position: center;  
        margin: 2% 10% 2% 10%;  
    }
    .Text1 {
        border: 3px solid black;
        font-size: 2rem;
        text-align: center;
        margin-left: 20%;
        margin-right: 20%;
        border-radius: 15px;
        position: absolute;
        color: white;
        background-color: rgba(0, 0, 0, 0.589);
        text-shadow: 5px 5px 5px darkred;
        
       
    }
    .Text2 {
        border: 3px solid black;
        font-size: 2rem;
        text-align: center;
        margin: 30% 55% 3% 18%;
        border-radius: 15px;
        padding: 20px 10px 20px 10px;
        position: absolute;
     
        color: white;
    background: #1a1a1a;
    text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
        
    }
    .Text3 {
        border: 3px solid black;
        font-size: 2rem;
        text-align: center;
        margin-left: 42%;
        margin-right: 42.5%;
        border-radius: 15px;
        position: absolute;
        margin-top:30%;
        padding: 20px 10px 20px 10px;
       
        color:white;
        background: #1a1a1a;
    text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
        
        
    }
    .Text4 {
        border: 3px solid black;
        font-size: 2em;
        text-align: center;
        margin: 0% 15% 3% 65%;
        border-radius: 15px;
        padding: 20px 10px 20px 10px;
        position: absolute;
        margin-top: 30%;
    
        color:white;
        background: #1a1a1a;
    text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
        
    }
    .Text5 {
        border: 3px solid black;
        font-size: 2em;
        text-align: center;
        margin-left: 20%;
        margin-right: 20%;
        border-radius: 15px;
        padding: 20px 10px 20px 10px;
        position: absolute;
        margin-top: 45%;
        background-color: transparent;
        background-color: rgba(0, 0, 0, 0.589);
        color: whitesmoke;
    }
    .Text5:hover {
        background-color: rgba(0, 0, 0, 0.289);;
        
    }
    .Text6 {
        border: 3px solid black;
        font-size: 2em;
        text-align: center;
        margin-left: 20%;
        margin-right: 20%;
        border-radius: 15px;
        padding: 20px 10px 20px 10px;
        position: absolute;
        margin-top: 65%;
        color:white;
        background: #1a1a1a;
    text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
        
        
    }
    .Text6:hover{
        background-color: rgba(0, 0, 0, 0.289);
    }
    .Text7 {
        border: 3px solid black;
        font-size: 2em;
        text-align: center;
        margin-left: 35%;
        margin-right: 20%;
        border-radius: 15px;
        padding: 20px 10px 20px 10px;
        position: absolute;
        margin-top: 65%;
        color:white;
        background: #1a1a1a;
    text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
        
        
    }
    .Text7:hover{
        background-color: rgba(0, 0, 0, 0.289);
    }
    
    .Text8 {
        border: 3px solid black;
        font-size: 2em;
        text-align: center;
        margin-left: 50%;
        margin-right: 20%;
        border-radius: 15px;
        padding: 20px 10px 20px 10px;
        position: absolute;
        margin-top: 65%;
        color:white;
        background: #1a1a1a;
    text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
        
    }
    .Text8:hover{
        background-color: rgba(0, 0, 0, 0.289);
    }
    .Text9 {
        border: 3px solid black;
        font-size: 2em;
        text-align: center;
        margin-left: 63%;
        margin-right: 20%;
        border-radius: 15px;
        padding: 20px 0 20px 0;
        position: absolute;
        margin-top: 65%;
        color:white;
        background: #1a1a1a;
    text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
        
    
    }
    .Text9:hover{
       
        background-color: rgba(0, 0, 0, 0.289);
      
    }
    footer {
       
        font-size: 1.5em;
      
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 1%;
        
        margin-top: 82%;	
       
       
    
    }
    h5 {text-align: center;
        border: 1.5px solid black;
        padding: 0 30% 0 30%;
    }
    a {
        text-decoration: none;
        color: white;
    }
    a:hover{
        color: white;
        text-decoration: underline;
    }
    }